#fly-menu-toggle {
  cursor: pointer;
  z-index: 111122;
}
.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(176, 92, 255);
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 70%;
}

body.active .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

body.active .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
}

body.active .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

body.active .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

body.active .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}
