/* ! =============== VARIABLES CSS ===============*/
:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  /* ! ========== FONT AND TYPOGRAPHY==========*/
  --body-font: "Inter", sans-serif;
  /* ?  .5rem = 8px | 1rem = 16px ...*/
  --h2-font-size: clamp(30px, 5vw, 60px);
  --h3-font-size: clamp(20px, 4vw, 36px);
  --h4-font-size: clamp(1rem, 2vw, 23px);
  /* ! ========== FONT LINE HEIGHT ==========*/
  --h2-lh: 1.1;
  --h3-lh: 1.05;
  --h4-lh: 1.2;
  /* ! ========== FONT WEIGHT ==========*/
  --font-300: 300;
  --font-400: 400;
  --font-500: 500;
  --font-600: 600;
  --font-700: 700;
  /* ! ========== Z INDEX ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
/* ? ====================== DEFAULT RESET CSS ===================== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--body-font);
}
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size);
}
h4 {
  color: hsla(239, 93%, 12%, 1);
  font-size: var(--h4-font-size);
}
h5 {
  font-size: var(--h5-font-size);
}
h6 {
  font-size: var(--h6-font-size);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}

button,
a {
  text-decoration: none;
  color: var(--text-color);
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
